body {
  background: yellow; 
  color: #db4f58;
}

a {
  color: hotpink;
}

div.crossnav {
  background-color: #fff;
  width: 250px;
}

div.crossnav a {
  color: #000;
}

div.crossnav img {
  float: left;
}

div.banner img {
  width: 400px;
}
