/* Use a CSS reset to smooth out browser incongruities. */
/* CSS Reset from meyerweb.com v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* okay, back to me */

body{
    background: #FFF; 
    font-family: sans-serif;
}

div.banner{
    width: 50%;
    margin: 0 auto;
}

div.banner img{
    width: 50em;
}

.blurb
{

    width: 30%;
    margin: 0 auto;
    margin-top:1em;
    text-align:center;
}

div.content{
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

nav.frontpagenav{
  width: 320px;
  margin-left:0;
}

h2 {
    font-size: 6em;
}

marquee {
    font-size: 4.5em;
}

footer {
    width=100%;
    clear: both;
    position: relative;
    font-size: 0.82em;
}

.mid-section
{
    width: 100%;
    height:100%;
    overflow:hidden;
}

.left-wrapper, .right-wrapper {
    height: 100%;
    min-height: 100%;
    width: 21%;
    display:block;
    float:left;
    margin:0;
    position:relative;
}

.huge{
 font-size:8em;   
}

.right-wrapper {
    float:right;
}

.main-content {
    width: 25em;
    height: 100%;
    margin:0;
    float:left;
}

.drawingtext{
    font-family: caslonitalic, serif;

}

.additionaltext{
    text-align:center;
    margin-top:1em;
}

.poem   {
    width: 40%;
    margin: 0 auto;
    border: 5px solid #dcc;
    padding-top: 3em;
    padding-bottom: 4em;
    padding-left: 4em;
    padding-right: .8em;
    background: white;
    text-align:left;
    font-size:1.2em;
    font-family: caslonitalic, serif;

}

.poem  a {
    font-family: caslonitalic, serif;
}


nav.button_panel {
    position:absolute;
    top:9.5em;
    right:0em;
}

nav.high_level_drawing_nav {
    position:absolute;
    top:31em;
    right:0em;
}


div.button   {
    width: 11em;
    clear: right; 
    float: right;
    border: 5px solid #dcc;
    margin-top: 1.5em;
    padding: .24em;
    background: white;
    text-align:right;
    font-family: caslonitalic, serif;
}

div.button a{
    font-size: 2.22em;
    color:#baa;
    font-family: caslonitalic, serif;
    text-decoration:none;
}
