body{
  background: white; 
  font-family: sans-serif;
}

div.banner{
  text-align: center;
}

div.banner img{
  width: 800px;
}

div.blurb
{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.player {
  text-align: center;
  margin-top: 50px;
}

div.player h3 {
  margin-bottom: 10px;
}

marquee {
  font-size: 80px;
  color: tomato;
  margin-top: 20px;
  margin-bottom: 40px;
}

div.promo {
  text-align: center
}

div.promo h3 {
  margin-bottom: 10px;
}

footer {
  width:100%;
  position: relative;
  font-size: 12px;
  margin-top: 40px;
  text-align: center;
}


