{% extends "layout.html" %}
{% block content %}
<div class="mainpage">
  {% for episode in episodes.values() | sort(attribute='datetime') if 'cocktail' in episode %}
  <a href="/ep/{{episode.key}}">{{episode.title}}</a>
  <marquee>{{episode.cocktail.name | safe}}</marquee>
  <div>
    <h2 id="cocktail{{episode.key}}">{{episode.cocktail.name | safe}}</h2>
    <br/>
    {% if episode.cocktail.recipe %}
    <div class="cocktail_recipe">
    {% for line in episode.cocktail.recipe.splitlines() %}
    {{line}}<br/>
    {% endfor %}
    </div>
    {% endif %}
    {% if episode.cocktail.image %}
    <img src="{{episode.cocktail.image}}" alt="{{episode.cocktail.name}} image" class="cool_img"/><br/>
    {% endif %}
    <div style="width: 40%; margin: 0 auto; min-width: 19em">
    {% for review in episode.cocktail.reviews %}
    <div style="text-align: justify; margin-top: 1em;">
    {% for paragraph in review.review.splitlines() %}
        <p style="margin-bottom: 2em">
        {{ paragraph.replace('|', '<br/>') | safe }}
        </p>
    {% endfor %}
    </div>
    <div style="text-align:right;">
    - {{ review.reviewer }}
    </div>
    {% endfor %}
    </div>
    <hr/>
  </div>
  {% endfor %}
</div>
{% endblock %}
