{% extends "layout.html" %}
{% block content %}
<div class="mainpage">
  <div class="blurb">
    {{ podcast.description }}
  </div>
  <div class="subscribe">
    <h3>SUBSCRIBE TO THE SHOW</h3>
    <a href="/feed.xml"><img src="{{ url_for('static', filename = 'rss.png')}}" />RSS feed</a><br />
    <a href="https://itunes.apple.com/us/podcast/an-earful-of-convoy/id1073039668"><img src="{{ url_for('static', filename = 'itunes.png')}}" />Subscribe on Apple Podcasts</a>
  </div>
  <h3>You also have the option of viewing this listing of Earful Eps as a <a href="/gallery">meditative gallery</a>.</h3>
  {% for episode in episodes.values() | sort(attribute='datetime') %}
  <a href="/ep/{{episode.key}}">
  <div class="ep_img_container" {% if episode.image %}style="background-image: url('{{episode.image}}');"{% endif %}>
    <div class="ep_title_container"><span class="ep_title">{{episode.title}}</span></div>
  </div>
  <div class="ep_marquee"><marquee class="episode_marquee">{{episode.description}}</marquee></div>
  </a>
  <div class="eppagedescription">
    <hr/>
    <p>{{episode.description}}</p>
    {% if episode.cocktail %}
    <p>Drink of the Ep &mdash; <a href="/cocktails#cocktail{{episode.key}}">{{episode.cocktail.name | safe}}</a></p>
    {% endif %}
    <p>Audio size is {{episode['audio size'] }} bytes. <span class="record_time">Recorded on {{ episode.record_datetime.strftime('%Y-%m-%d') }} at {{episode.record_datetime.strftime('%-I:%M %p')}}</span></p>
    <hr/>
  </div>
  {% endfor %}
</div>
{% endblock %}
