<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/plain" rel="author" href="/humans.txt" />
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
    {% if podcast.title == 'An Earful of Cocktail' %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='cocktail_favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cocktail_style.css') }}">
    {% else %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="Earful RSS" href="/feed/" />
    <title>{{podcast.title}}</title>
    <meta name="description" content="{{podcast.description}} (Convoy is a film by Sam Peckinpah; the song is by C.W. McCall. Podcasts are audio files you can listen to on your podcast devices.)">
    {% endblock %}
  </head>
  <body>
    <nav>
      <div class="crossnav">
        {% if podcast.title == 'An Earful of Cocktail' %}
        <a href="http://earfulofconvoy.com"><img src="/static/convoy.png" alt="Earful of Convoy" height="50"><p>next podcast</p></a>
        {% else %}
        <a href="http://earfulofcocktail.com"><img src="/static/cocktail.png" alt="Earful of Cocktail" height="50"><p>next podcast</p></a>
        {% endif %}
      </div>
      <div class="banner">
        <a href="{{url_for('index')}}">
          {% if podcast.title == 'An Earful of Cocktail' %}
          <img src="{{ url_for('static', filename = 'cocktail.png')}}" alt="An Earful of Cocktail"/>
          {% else %}
          <img src="{{ url_for('static', filename = 'convoy.png')}}" alt="An Earful of Convoy"/>
          {% endif %}
        </a>
      </div>
    </nav>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}
    <footer>
      &copy; 2014-2017 <a href="http://thisisalan.com/">Alan Joyce</a> &amp; <a href="http://www.markmollineaux.com/">Mark Mollineaux</a><br/>
    </footer>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40447990-7', 'auto');
    ga('send', 'pageview');

    </script>
    {% endblock %}
  </body>
</html>
